.blinking-circle {
  width: 25px;
  height: 25px;
  background-color: #01360fb3;
  border-radius: 50%;
  animation: blink 1s infinite ease-in-out;
  box-shadow: 0 0 10px #01360fb3;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
