/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@font-face {
  font-family: "PolySans";
  src: url("./assets/font/PolySansTrial-Neutral.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("./assets/font/Satoshi-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-hero-pattern {
  background-image: url("./assets/images/Rectangle.png");
}
.column {
  @apply font-Satoshi font-medium text-[14px] text-[#4f4f4f] leading-[18.9px] w-full text-left;
}
.thead {
  @apply bg-[#fbfbfb] h-[40px];
}
.tbody {
  @apply w-full;
}
.row {
  @apply py-4 border-b border-b-[#F2F2F2] font-normal text-xs font-polySans text-[#333333];
}
.parent-scroll {
  overflow-x: auto;
}

.parent-scroll::-webkit-scrollbar {
  height: 0;
}

.parent-scroll::-webkit-scrollbar-thumb {
  display: none;
}

.eachrow {
  @apply border-b-8 border-[#F3F3F3];
}
.widthl {
  @apply w-full basis-[391px] max-w-[500px];
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #7f55da;
  height: 2px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #7f55da, 0 0 5px #7f55da;
}

#nprogress .spinner {
  border-top-color: #7f55da;
}
.slide-in {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.slide-in.active {
  transform: translateX(0);
}
.text-gradient {
  background: linear-gradient(95.53deg, #7f55da 52.25%, #1f0656 106.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
